body{
    background: #f3f3f3;
    font-family:Arial;
    max-width: 100%;
    max-height: 100%;
}
/* phan header */
header {

    height: 120px;
}

header img {
    float: left;
    margin-top: 10px;
    margin-left: 150px;

}
header h1 {
    float: left;
    margin-top: 26px;
    margin-left: 160px;
    font-size: 22px;
    color: #7f8c8c;
    text-decoration:none;
}

header nav {
    float: left;
    margin-left: 205px;
    margin-top: 4px;
}

header nav ul li {
    float: right;
    display: inline-block;
    margin-top: 10px;
    font-size: 13px;
}

header nav ul li a {

    color: #fff;
    texttext-decoration:none;-transform: uppercase;
    font-weight: bold;
    display: block;
    text-decoration:none;
    margin-right: 50px;
}
header nav ul li a:hover{
    border-style: outset;

    border-color: #a65966;
}

.top{
    height: 70px;
    float: top;
}
.bottom{
    height: 70px; ;
    float: bottom;
}
.bottom p{

    padding: 0px;
    padding-top: 0px;
    float: right;
    margin-bottom: -10px;
    margin-right: 185px;
    margin-top: 30px;
}

.bottom a {
    text-decoration:none;
}
/* phan hero-image*/
#slide-top {

    width:78%;
    height:600px;
    margin:73px;
    margin-left: 160px;

}
#slide-top img{
    width:100%;
    height: 600px;
}
.btn{
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
    background:#333;
    border:#DCDCDC 0px solid;

    color:#fff;
    z-index: 999;
}
#btnPrev{
    float:left;
    bottom:295px;

    background: #20a8da;

}
#btnNext{
    float:right;
    bottom:295px;

    background: #20a8da;
}

/* phan secondary content */
#secondary-content{

    height:615px;
}
#content .left{
    width:58%;
    height:550px;
    float:left;
    margin-top:35px;
    margin-left:160px;
    background: #f8f8f8;
}

.left img {
    width: 100%;
    height:550px;
}
#content .right{
    width:20%;
    height:550px;
    float:right;
    margin-top:35px;
    margin-right:160px;
    background: #f3f3f3;
}
.right #top{
    width: 90%;
}
.right a{
    padding:16px;
    float:left;
    text-decoration:none;
    font-weight:bold;
    text-transform:uppercase;
    color:#ffffff;
    font-size:10px;
    border-right:3px solid #ffffff;
}
.right a:hover {
    color:#4C4936;
}
/* phan feature */
#features {
    margin-left: 50px;
}
#features ul {
    margin: 40px 0;
    list-style: none;
    margin-left: 75px;
    background-color: white;
    background: #f8f8f8;
}

#features ul li {
    width: 298px;
    padding-top: 140px;
    float: left;
    margin-right: 8px;
    text-align: center;
    background: #f8f8f8;
    box-shadow: 2px 2px 2px #EEEEEE;


}

#features a {
    padding: 1px 15px;
    background-color: #a65980;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    font-weight: bold;
    margin-left: 6px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px #f8f8f8;
    letter-spacing: .1em;


}
#features a:hover {
    background: #02b8dd;
}
#features ul li.feature-1 {
    background: url('images/features-icon-3.png') no-repeat top center;
    background-color: #f8f8f8;
}
#features ul li.feature-2 {
    background: url('images/features-icon-3.png') no-repeat top center;
    background-color: #f8f8f8;
}
#features ul li.feature-3 {
    background: url('images/features-icon-3.png') no-repeat top center;
    background-color: #f8f8f8;
}
#features ul li.feature-4 {
    background: url('images/features-icon-3.png') no-repeat top center;
    background-color: #f8f8f8;
}
#features ul li:hover {
    background-color: white;
}
#conten2 {
    height: 150px;
    width: 100%;
    background-color:#f3f3f3;
    margin-top: 0px;
    margin-left: 0px;
}
#conten2_left{
    background:#f3f3f3;
    width: 819px;
    height: 150px;
    float: left;
    margin-left: 152px;
}
#conten2 button:hover{
    background-color: #fff;

}
/*slider3 ben phai*/
#conten2_right{
    background:#f3f3f3;
    width: 282px;
    height: 150px;
    float: right;
    margin-right: 200px;
}
#conten2_left button {
    height: 40px;
    width: 830px;
    margin-top: 7px;
    background:#f3f3f3;
    border-radius: 7px

}
#conten2_right button {
    height: 40px;
    width: 296px;
    margin-top: 7px;
    background: #f3f3f3;
    border-radius: 7px
}
#conten2 b {
    float: left;
    text-transform: uppercase;
    padding-top: 8px;
}



.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    width: 20px;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion:hover {
    background-color: #ccc;
}
#content3 {

    background-color:#f3f3f3;

}
#conten3_left{
    background:#f8f8f8;
    width: 819px;
    height: 183px;
    float: left;
    margin-left: 152px;
    border-radius: 3px;

}
/*slider3 ben phai*/
#conten3_right{
    background:#f8f8f8;
    width: 282px;
    height: 183px;
    float: right;
    margin-right: 200px;
    border-radius: 3px;
}
#content3 img{
    float: right;
}
#content3 p{
    float: left;
}
.tab {
    overflow: hidden;

    background-color: #f3f3f3;;
}

/*  các nút bên trong tab*/
.tab button {
    background-color: #a65980;
    float: left;
    font-weight: bold;
    border-radius: 9px;
    padding: 14px 16px;
    transition: 1s;
    font-size: 18px;
    text-decoration: none;
}

/* đổi màu nền các nút khi gí chuột */
.tab button:hover {
    background-color: #02b8dd;
}


.tab button.active {
    background-color: #ccc;
}

/* nội dung tab */
.tabcontent {
    height: 100%;
    overflow: auto
}
/*phần list-image*/
#list-images{
    margin-left: 153px;
}
#list-images #images-top img{
    width: 298px;
    height: 285px;
    padding-top: 2px;
    float: left;
    margin-right: 8px;



}
#list-images #images-bottom img{
    padding-left: 0px;
    width: 606px;
    height: 285px;
    padding-top: 25px;
    float: left;
    margin-right: 4px;

}
/*Phần headline*/
.headline{
    width: 1225px;
    margin-left: 153px;
    height: 1000px;
}
.headline #hang3{
    height: 306px;
}


.headline h4 p {

    padding-top: 140px;


}
.headline #text1{
    width: 50%;
    float: right;

}
.headline #text2{
    width: 50%;
    padding-top: 1px;


}
.headline #text3{
    width: 23%;
    float: right;

}
.headline #text4{
    width: 73%;
    padding-top: 1px;


}
.headline #text5{
    width: 23%;
    float: right;

}.headline #text6{
     width: 23%;
     float: right;
     margin-right: 30px;
 }
.headline #text7{
    width: 23%;
    float: left;

}
.headline #text8{
    width: 23%;
    float: left;
    margin-left: 30px;
}
/*Phần list link*/
#list-link{
    width: 1250px;
    margin-left: 153px;
    height: 343px;
}


#links ul {
    width: 242px;
    float: left;
    margin-left: 20px;




}

#links ul li {
    margin: 10px 0;

}
#links ul li a {
    text-decoration: none;

}
#links #list1 li a{
    list-style-image: url("images/icon1.PNG");
    list-style-position: inside;

}
/*Phân text button*/
#text-button{
    width: 1225px;
    margin-left: 153px;
    height: 94px;
    background: #ececec;
    border-radius: 6px;
}
.button {
    display: block;
    text-align: center;
    background: #20a8da;
    border-radius: 3px;
    color: #fff;
    width: 180px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    float: right;
    margin:-72px;
    margin-right: 40px;
    text-decoration: none;

}

.button-1:hover {
    background-color: #02b8dd;
    color: #fff;
}
h2{
    padding-top: 20px;
    padding-left: 20px;
}
#text-button p{
    padding-left: 20px;
}
/*Phần Tables*/
.tables{
    width: 1225px;
    margin-left: 153px;
    height: 688px;
    margin-top: 66px;

}

table, th, td {
    border: 0px solid #7f8c8c;
    border-style: outset;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

}
th, td {
    padding: 15px;
    text-align: left;
}
td{
    background-color: white;
}
#t01 th {
    background-color:#ececec;
    color: #7f8c8c;
}
#tables-bottom table{
    padding-left: 0px;
    width: 606px;
    height: 285px;

    float: left;


}
td{
    color: #7f8c8c;
}
#t02{

    margin-right: 13px;
}
#t02 th{

    background-color: #a65980;
    color: white;
}
#t03 th{
    background-color: #20a8da;
    color: white;
}
/*Phần footer*/
footer{
    height: 420px;

}
#footer-info{
    float: left;
    margin-top: 60px;
    margin-left: 150px;
    width: 25%;
    color: white;

}
#footer-info p {
    padding: 0px;
    margin: 0px;
}
#footer-info2{
    float: left;
    margin-top: 60px;

    width: 25%;
    color: white;

}
#footer-info2 a{
    text-decoration: none;
    color: white;
}
#footer-info2 ul {
    width: 70px;
    float: left;
    margin-left: 20px;

}

#footer-info2 ul li {
    margin: 10px 0;

}
#footer-info3{
    float: left;
    margin-top: 60px;

    width: 25%;
    color: white;
}
#footer-info3 p{
    overflow: auto
}
#footer-info3 img{
    float: left;
}
footer .bottom{
    background: #955073 ;
    height: 62px
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    float: right;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

}
#linkbottom{
    margin-right:169px ;
}
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #955073;
    color: white;
}

.fa-twitter {
    background: #955073;
    color: white;
}

.fa-google {
    background: #955073;
    color: white;
}

.fa-youtube {
    background: #955073;
    color: white;
}
